#logom{
	font-family: Skinny;
	font-size: 15vw;
	margin-top: 15vw;
	color: white;

}

#scrolldownm{

	font-size: 1vw;
	margin-top: 15vw;
	transform: scale(3,2);
	color: white;
}
.header{
	background-image: url("Backgroundtop2.jpeg");
	-webkit-filter: grayscale(100%);
	

}

#lettertype{
	font-family: Audrey;
	font-size:3vw;
	margin-top: -9vw;



}
#lettertype2{
	font-family: Audrey;
	font-size:2vw;

}

.bg-primary{
	color:black;
	background-image: url("achtergrondedu4.jpeg");

}

#megamaartje {
    -webkit-filter: grayscale(0%);
	
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: center;
    margin-right: 80vw;
}

#dezemoetzwart{
	-webkit-filter: brightness(-100%);
}