#logom{
	font-family: Skinny;
	font-size: 15vw;
	margin-top: center;
	color: white;

}

#scrolldownm{

	font-size: 1vw;
	
	transform: scale(3,2);
	margin: bottom;

	color: white;
}
.header{
	background-image: url("Backgroundtop2.jpeg");
	-webkit-filter: grayscale(80%);
	

}

#lettertype{
	font-family: Audrey;
	font-size:4vw;
	margin-top: -9vw;




}
#lettertype2{
	font-family: Audrey;
	font-size:3vw;
	margin:center;


}

.bg-primary{
	color:black;
	background-image: url("achtergrondedu4.jpeg");

}

#megamaartje {
    -webkit-filter: grayscale(0%);
	box-shadow: 
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
   margin-right:center;
}

#dezemoetzwart{
	-webkit-filter: brightness(-100%);
}